footer
  .container
    h3 Sobre Ale&apos;s keys
    nav
      a(href='') Sobre nosotros
      a(href='') Contactanos
      a(href='') Nuestro modelo de negocio
    h3 Comprar
    nav
      a(href='') Metodosde pago
      a(href='') Lista de juegos
      a(href='') Nuestro modelo de negocio
    h3 Ayuda
    nav
      a(href='') Como canjear una key
      a(href='') Contactanos
      a(href='') Politica de devoluciones
