header
  h1.title-first
    | Ale&apos;s 
    span.title-second Keys
nav.nav-bar
  a(href='/') Inicio
  a(href='') Contacto
  a(href='') Juegos de PC
  a(href='') Juegos de Xbox
  a(href='') Juegos de Playstation