extends ./layouts/plantilla

block contenido 
    .container.filtros
        select#systems-select
            option(value='' disabled='' selected='') Sistemas
        select#platforms-select
            option(value='' disabled='' selected='') Plataformas
        select#genres-select
            option(value='' disabled='' selected='') Generos
    .container
        section.margin-top
            h2 Todos Los Juegos
            .games-list#all-games
                if(allGames)
                    each game in allGames
                        include ./layouts/game_block
            //- Plantilla JavaScript para juegos
            script(type='text/template' id='game-template')
                a.game(href=`/paginaJuego?game_id={{id}}`)
                    img(alt='' src='/img/{{img}}')
                    .game-text
                        h3 {{name}}
                        div
                            p {{price}} &euro;
    script(type="module", src='scripts/games.js')